html{ color: #333; font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 1.6em; letter-spacing: 0.2px; background-color: white; }
html, body, form, ul, li, p, h1, h2, h3, img { margin: 0; padding: 0; border: 0; }
sub { font-weight: normal; font-size: 0.7em; margin-left: 5px; }
input, select { width: auto; color: #777; font-size: 1em; }
a, a:hover, a:visited { color: #4A719C; text-decoration: none; }
pre, code { background-color: #C2D9EC; border: 1px solid #FCEFA1; padding: 10px 15px; }
code { padding: 2px 5px; border: none; }

#page { padding: 0 15px; margin: 0; }
#page a[href^="http"] {
    background: url("../images/external-link.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 18px;
}
#page a.no-external-icon { background: none; padding: 0; margin: 0; }

section { padding: 15px 0 5px; }
section h1, section h2, section h3, section h4 { color: #2F2F30; padding: 15px 0; }
section.header { border-bottom: 1px solid #d2d2d2; width:100%; padding: 0; }
section.footer { font-size: 0.917em; color: rgb(102, 102, 102); background-color: white; text-align: right; border-top: 1px solid #d2d2d2; padding: 5px 0; left: 0; position:fixed; bottom:0; width:100%; }

.gist-filter { float: right; width: 22%; text-align: right; font-weight: bold; padding-right: 15px; min-width: 300px; }
.gist-filter input { border: 1px solid #d2d2d2; width: 250px; }
#gistFilterResult { display: none; border: 1px solid #d2d2d2; width: 247px; padding: 3px; position: absolute; border-top-width: 0; z-index: 1010; }
#gistFilterResult ul { margin: 0; padding: 0; }
#gistFilterResult ul li { list-style: none; cursor: pointer; padding: 0 5px; }
#gistFilterResult ul li:nth-child(even) {background: #F9F9F9; }
#gistFilterResult ul li:nth-child(odd) {background: #FFF; }
#gistFilterResult ul li:hover { background-color: #d2d2d2; color: white; } 

.gists-section { margin: 80px 0 20px; }
.gists-section .gist { margin: 0 auto; transition: background-color 1s ease 0s; padding: 10px; min-width: 750px; border-bottom: 2px solid #d2d2d2; position: relative; }
.gists-section .gist:hover { background-color: #F0F8FF; }
.gists-section .gist .gist-description { overflow: auto; }
.gists-section .gist h3 { border-bottom: 1px solid #d2d2d2; margin-bottom: 10px; font-size: 1.4em; }
.gists-section .gist .gist-description ul { margin-left: 20px; }
.gists-section .gist .gist-description ul li { margin-top: 5px; }
.gists-section .gist .gist-description h3 { font-size: 1.3em; }
.gists-section .gist .gist-description p, .gists-section .gist .gist-description ul { margin-bottom: 10px; }
.gists-section .gist .gist-description div { overflow: hidden; }
.gists-section .gist .gist-launch { padding: 10px; margin-top: 10px; border-top: 1px solid #d2d2d2; text-align: right; }
.gists-section .gist .gist-launch .launch-button { margin-left: 10px; }

.disqus { margin: 20px 0; padding: 5px 10px;  transition: background-color 1.5s ease 0s; }
.disqus:hover { background-color: #DCDCDC; }

.ieLT9warning { border-bottom: 1px solid #a29330; color: #000; font-size: 0.9em; padding: 5px; text-align: center; background-color: rgb(254, 238, 189); }

.loadingMsg { position: relative; }
.loadingMsg span { position: absolute; top: 50%; left: 40%; padding: 10px 20px; border: 1px solid #236BBC; }

.note { border: 1px solid #FCEFA1; padding: 2px 10px; background-color: #c2d9ec; }

.plugin-table { border-collapse: collapse; }
.plugin-table thead tr th, tbody tr td { padding: 5px; border: 1px solid #d2d2d2; vertical-align: top; }

/* generic styles */
.boldtext { font-weight: bold; }
a.hl_links { font-weight: bold; text-decoration: none; text-shadow: none; transition: text-shadow 0.5s ease 0s; }
a.hl_links:hover { text-shadow: 0 0 2px #5890CE; transition: text-shadow 0.5s ease 0s; }

.showDetailsLink { font-size: 0.9em; letter-spacing: normal; }

#meetselva { display: none; }

.ui-icon, .ui-widget-content .ui-icon { background-image: url("images/ui-icons_454545_256x240.png"); display: inline-block; }
.ui-icon-notice { background-position: -32px -142px; }
.ui-icon.ui-icon-animate {
	background-position: 0 0;
  -webkit-animation: icon_animate 5s linear 0s infinite alternate;
     -moz-animation: icon_animate 5s linear 0s infinite alternate;
       -o-animation: icon_animate 5s linear 0s infinite alternate;
          animation: icon_animate 5s linear 0s infinite alternate;	
}
@-webkit-keyframes icon_animate { from { background-position: 0; } to { background-position: 0px -222px; }  }
   @-moz-keyframes icon_animate { from { background-position: 0; } to { background-position: 0px -222px; }  }
     @-o-keyframes icon_animate { from { background-position: 0; } to { background-position: 0px -222px; }  }
        @keyframes icon_animate { from { background-position: 0; } to { background-position: 0px -222px; }  }

#info-box { position: absolute; top: 0; text-align: center; width: 98%; display: none; z-index: 1020; }
#info-boxMsg { font-size: 1.2em; display: inline-block; overflow:hidden; background-color: white; padding: 10px; color: #4A719C; } 
#blockui { z-index: 1001; opacity: 0.25; background-color: #7d7d7d; width: 100%; position: absolute; top: 0px; left: 0px; display: none;  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";}